<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kerberos.egertonmarketplace">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EgertonMarketplace">
        <activity
            android:name=".install.auth.PhoneValidation"
            android:exported="false" />
        <activity
            android:name=".install.auth.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".install.auth.Register"
            android:exported="false" />
        <activity
            android:name=".install.auth.Login"
            android:exported="false" />
        <activity
            android:name=".install.GetStarted"
            android:exported="false" />
        <activity
            android:name=".install.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Init"
            android:theme="@style/Theme.EgertonMarketplace.NoActionBar" />
    </application>

</manifest>